@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  margin: 0;
}

#__next {
  min-height: 100vh;
  width: 100%;
}

.paper-ruled {
  background-image: repeating-linear-gradient(
    transparent,
    transparent 1.6rem,
    rgba(0, 0, 0, 0.04) 1.6rem,
    rgba(0, 0, 0, 0.04) 1.62rem
  );
}
